<!DOCTYPE html>
<html>
<head>
<title>Medical Expenses</title>
<style>
    .button{ 
        border:none;
        color:white;
        padding:10px 20px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:14px;
        margin:4px 2px;
        cursor:pointer;
    }
    .button1{background-color: #4caf50;}
    .button2{background-color: #008cba;}
</style>
</head>
<body style="background-color:powderblue">

<center><h1><span style="color:#FF0000">MRI Prediction Application </span></h1>
    <center><h3>Please Enter the Image</h3></center> <br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="upload" accept=".jpg, .jpeg, .png, .jfif" />

        <input type="submit" value="submit" />
        
    </form>
        {% if file_url %}
        <br >
        <br >
        <img src="{{file_url}}" alt="Uploaded Image" width="255" height="255">
        <p> {{ pred }}</p>
        {% endif %}

        <!-- <center><button type="submit" name="" value="submit" class="button button1">Submit</button></center>
        <center><button type="reset" name="" value="reset" class="button button1">Reset</button></center> -->
    

    <!--{% if answer %}

    <center><h2 style="color:#FF6600"> The Medical Expenses is {{answer}} Dollars</h2>
    <h3 style="color:#009900">Thanks for using Medical App</h3></h2>
    </center>

    {% endif %} -->

</center>
</body>
</html>